*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button{
  border: none;
  background-color: transparent;
}
.slide-list{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
 .slide-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.slide-item{
  width: 100%;
  height: 100%;
}
.slide-item p{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,50%);
 color: #fff;
 font-size: 3.2rem;
 text-align: center;
 font-weight: bold;
 opacity: 0;
}
.btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;

}
#next{
  left: 80px;
}
#prev{
  right: 50px;
}
#dots{
  position: absolute;
  left: 50%;
  
  bottom: 100px;
  transform: translateX(-50%);
  display:flex;
  width: 100px;
  height: 30px;
}

#dots div {
  
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #6e1a1a;
  margin-right: 8px;
 
  
}
#dots div :last-child{
  margin-right: 0;
}
#dots div .is-active{
  background-color: #fff;
}